[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
pre-commit = "*"
flake8 = "*"

[packages]
psycopg2-binary = {version = "==2.9.*", index = "pypi"}
django = {version = "==4.0.*", index = "pypi"}
djangorestframework = {version = "==3.13.*", index = "pypi"}
drf-yasg = {version = "==1.20.*", index = "pypi"}
drf-spectacular = {version = "==0.18.*", index = "pypi"}
django-prometheus = {version = "==2.2.*", index = "pypi"}
djangorestframework_simplejwt = {version = "==5.1.*", index = "pypi"}

[requires]
python_version = "3.10"
